.similar {
    background-color: #04152d;

    .similarHeading {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        padding-top: 55px;
        padding-left: 20px;
        color: white;
    }

    .swiper {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        padding: 25px 20px;
    }
}